body {
    font-family: "PT Sans";
    /*max-width: 33em;*/
    margin: auto;
    margin-bottom: 5rem;
}

/* Ensure that paragraphs lists, and images respect the margins */

figcaption {
    line-height: 1.25;
    width: 80%;
    font-family: "PT Sans";
    font-size: 0.8rem;
}

img {
    width: 33em;
    margin-bottom: 1rem;
}

p {
    line-height: 1.25;
    max-width: 33em;
}

ul {
    line-height: 1.25;
    max-width: 33em;
}

ol {
    line-height: 1.25;
    max-width: 33em;
}

.nav-link {
    font-family: "PT Sans";
    padding-top: 2.2em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.row-featurette {
    padding: 3rem 1.5rem;
    text-align: left;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    font-family: "PT Sans";
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1.3rem;
}

h2 {
    font-family: "PT Sans";
    font-size: 1.2rem;
    padding-top: 1.3rem;
    padding-bottom: 0.7rem;
}

h3 {
    font-size: 1.1rem;
    padding-top: 1.1rem;
    font-style: italic;
}

.note {
    margin-bottom: 4rem;
}

.note-title {
    margin-top: 2rem;
    margin-bottom: .25rem;
    font-size: 1.8rem;
}

a:link, a:visited { color: maroon; }
a:hover {text-decoration: underline; }

.navbar-brand {
    font-size: 2.2rem;
    padding-top: 1em;
    font-family: "Menlo";
}

.nav-link {}

.sourceCode {
    font-family: Menlo, Consolas, monospace;
    font-size: 0.9em;
}

code {
    font-size: 0.7em;
    font-family: Consolas, Menlo;
    background: white;
    color: maroon;
}

.date {
    font-style: italic;
}
