[package]
name = "skema"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "skema"
path = "src/lib.rs"

[dependencies]
serde_json = "1.0.85"
serde = { version = "1.0.1", features = ["derive"] }
strum = "0.24"
strum_macros = "0.24"
rsmgclient = { git = "https://github.com/ml4ai/rsmgclient" }
actix-web = "4.2.1"
comment_extraction = { path = "../comment_extraction" }
mathml = { path = "../mathml" }
utoipa = { version = "2.3.0", features = ["actix_extras", "yaml", "debug"] }
utoipa-swagger-ui = { version = "2", features = ["actix-web"] }
petgraph = "0.6.2"
clap = { version = "4.0.26", features = ["derive"] }
openssl = "0.10.44"
rand = "0.8.5"
crypto-hash = "0.3.4"
