#original-image-from-paper {
  min-width: 50%;
  max-width: 50%;
  max-height: 10rem;
  padding: 2%;
  margin-bottom: 2%;
  overflow: auto;
}

#mathml-render,
#latex-render {
  font-size: x-small;
  width: 11rem;
  height: 7rem;
  text-align: center;
  vertical-align: middle;
  overflow: auto;
}

#mathml-render {
  line-height: 4.5rem;
}

#mathml-code,
#latex-code {
  font-size: medium;
  font-family: monospace;
  width: 11rem;
  height: 15rem;
  overflow: auto;
}

button.btn-save {
  display: block;
  margin-left: auto;
}

.nav-btn {
  margin: 0.5%;
}

@media only screen and (min-width: 768px) {
  #mathml-code,
  #latex-code,
  #mathml-render,
  #latex-render {
    width: 22rem;
  }
}

@media only screen and (min-width: 1281px) {
  #mathml-render,
  #latex-render {
    font-size: small;
  }
  #mathml-code,
  #latex-code,
  #mathml-render,
  #latex-render {
    width: 40rem;
  }
}
