.table-img {
  max-width: 30vw;
  height: auto;
  overflow: auto;
}

table td {
  word-break: break-word;
  vertical-align: top;
  white-space: normal !important;
}

.container-fluid {
  padding: 1em;
}
