@(schemaVersion: String)

<!-- This was copied from index.html of version 4.14.0. -->
<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SKEMA Rest API</title>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("swagger-ui/swagger-ui.css")" />
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("swagger-ui/index.css")" />
  <link rel="icon" type="image/png" href="@routes.Assets.at("swagger-ui/favicon-32x32.png")" sizes="32x32" />
  <link rel="icon" type="image/png" href="@routes.Assets.at("swagger-ui/favicon-16x16.png") "sizes=" 16x16" />
</head>

<body>
  <div id="swagger-ui"></div>
  <script src="@routes.Assets.at("swagger-ui/swagger-ui-bundle.js")" charset="UTF-8"> </script>
  <script src="@routes.Assets.at("swagger-ui/swagger-ui-standalone-preset.js")" charset="UTF-8"> </script>
  <!--script src="@routes.Assets.at("swagger-ui/swagger-initializer.js")" charset="UTF-8"> </script-->
  <!-- This replaces the script commented out above. -->
  <script>
    window.onload = function () {
      const schemaFile = "/assets/schema/api-" + "@schemaVersion" + ".yaml";
      const ui = SwaggerUIBundle({
        url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + schemaFile,
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      });

      window.ui = ui;
    };
  </script>
</body>

</html>