mjx-container[display="block"] {
  display: block;
  margin: 1em 0;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  table-layout: fixed;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
}

div.pre {
  height: 8em;
  width: auto;
  overflow: scroll;
  font-family: monospace;
}

.mml-render {
  text-align: center;
  vertical-align: middle;
}

#table-loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 25%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
